In [1]:
import pandas as pd
populations = {"chennai":{2000:1, 2001:3, 2002:4},
               "USA":{2000:3.0, 2002:5}}
frame = pd.DataFrame(populations)
frame

      chennai  USA
2000        1  3.0
2001        3  NaN
2002        4  5.0

In [2]:
#index and columns have name attribute set
frame.index.name = "year"
frame.columns.name = "state"
frame

state  chennai  USA
year
2000         1  3.0
2001         3  NaN
2002         4  5.0

In [4]:
frame.to_numpy()

array([[ 1.,  3.],
       [ 3., nan],
       [ 4.,  5.]])

In [6]:
#----------INDEX OBJECTS-------------

In [10]:
import numpy as np
obj = pd.DataFrame(np.arange(3), index=["a", "b", "c"])
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [11]:
index[1:]

Index(['b', 'c'], dtype='object')

In [12]:
index[:1]

Index(['a'], dtype='object')

In [15]:
import numpy as np
obj2 = pd.Index(np.arange(3))
obj2

Index([0, 1, 2], dtype='int32')

In [17]:
obj3 = pd.Series([1.4, -3.8, 2], index=obj2)
obj3

0    1.4
1   -3.8
2    2.0
dtype: float64

In [18]:
frame.columns

Index(['chennai', 'USA'], dtype='object', name='state')

In [20]:
#pandas index can contain the duplicate labels
import pandas as pd
pd.Index(["foo", "foo", "bar", "bar", "ohio"])

Index(['foo', 'foo', 'bar', 'bar', 'ohio'], dtype='object')

In [22]:
#**********SOME INDEX METHODS AND PROPERTIES*********

In [25]:
import pandas as pd
a = pd.Index(np.arange(3))
b = pd.Index(np.array([4,5,6]))
c = np.append(a, b)
c

array([0, 1, 2, 4, 5, 6])

In [29]:
import pandas as pd
index_1 = pd.Index([1,2,3,4])
index_2 = pd.Index([3,4,5,6])
append = index_1.append(index_2) #camcatenate both the values, producing a new data
append

Index([1, 2, 3, 4, 3, 4, 5, 6], dtype='int64')

In [31]:
diff = index_1.difference(index_2)  #compute difference as an index
diff

Index([1, 2], dtype='int64')

In [32]:
intersection = index_1.intersection(index_2) #set intersection
intersection

Index([3, 4], dtype='int64')

In [33]:
union = index_1.union(index_2) #set union
union

Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [42]:
data = pd.Series([1,2,3,4,5,6])
collection = [2,4,6]
result = data.isin(collection)
print(result)

0    False
1     True
2    False
3     True
4    False
5     True
dtype: bool

In [35]:
delete = index_1.delete(2) #index element is deleted
delete

Index([1, 2, 4], dtype='int64')

In [37]:
drop = index_1.drop([2,3]) #deleting the passed values
drop

Index([1, 4], dtype='int64')

In [40]:
insert_1 = index_1.insert(2, 10) #inserting giving the elements
insert_2 = index_2.insert(3, 30)
print(insert_1)
print(insert_2)

Index([1, 2, 10, 3, 4], dtype='int64')
Index([3, 4, 5, 30, 6], dtype='int64')

In [45]:
data = {'A':[1,2,3,4],
        'B':['a','b','c','d']}
df = pd.DataFrame(data, index=['foo','bar','baz','quz']) 
#index in the DataFrame 'df' is unique or not.If index is unique it will 'True' otherwise it will print 'False'
index = df.index.is_unique
print(index)

True